body {
    background-color: #00b3ee;
    color: white;
}

h1{
    text-align: center;
    text-decoration: underline;
    margin: 24px;
}

h3{
    text-align: center;
    text-decoration: underline;
}

.btn-info {
    margin-left: 144px;
}
.btn-danger, .btn-warning{
    margin-left: 72px;
}
.bernie {
    float: left;
    margin: 40px;
    margin-top: 20px;
    width: 400px;
    border: 2px solid white;
    border-radius: 8px;
    padding-right: 14px;
}

.hillary {
    float: left;
    margin: 20px auto auto 400px;
    width: 400px;
    border: 2px solid white;
    border-radius: 8px;
}

.donald {
    float: right;
    margin: 20px 40px auto 400px;
    width: 400px;
    border: 2px solid white;
    border-radius: 8px;
}

/*li{*/
    /*list-style-type: none;*/
/*}*/